<!DOCTYPE html>
<html>
<head>
  <title>QMessageApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%flash.each do |name, message| %>
  <div class="alert alert-<%= name %>" role="alert"><%= message %></div>
  <% end %>

  <ul> 
    <% if current_user %>
      <li><%= link_to "Logout", "/logout", method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign up ", "/signup", method: :get %></li>
      <li><%= link_to "Sing in", "/login", method: :get %> </li> 
    <% end %>
  </ul>
  


  <%= yield %>


</body>
</html>
