<!DOCTYPE html>
<html>
<head>
  <title>QMessageApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  
  <%flash.each do |name, message| %>
  <div class="alert alert-<%= name %>" role="alert"><%= message %></div>
  <% end %>

  <ul> 
    <% if current_user %>
      <div align="right"><%= button_to "Logout", "/logout", method: :delete %></div>
    <% else %>
      <div class="signup"><%= button_to "Sign up ", "/signup", method: :get %></div>
      <div class="login"><%= button_to "Sign in", "/login", method: :get %> </div> 
    <% end %>
  </ul>
  


  <%= yield %>


</body>
</html>
